<div class="row">
  <div class="col-3">
    <app-sidebar></app-sidebar>
  </div>

  <div class="content">
    <div class="col-12 mt-3 mr-2 pr-5 pl-0 ml-0">
      <span class="badge badge-dark p-2">Appointment List</span>
      <hr>
  
      <table class="table table-light mt-4">
        <thead>
          <tr>
            <th>Patient Name</th>
            <th>Date</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of this.appointmentList">
          <td>{{ appointment.patientName }}</td>
            <td>{{ appointment.date.split("T")[0] }}</td>
            <td>{{ appointment.date.split("T")[1] }}</td>
          </tr>
        </tbody>
      </table>
  
      <hr>
      <span class="badge badge-dark p-2 mt-3">Expired Appointments</span>
      <hr>
  
      <table class="table table-light mt-4">
        <thead>
          <tr>
            <th>Patient Name</th>
            <th>Date</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of this.expiredAppointmentList" class="passive">
          <td>{{ appointment.patientName }}</td>
            <td>{{ appointment.date.split("T")[0] }}</td>
            <td>{{ appointment.date.split("T")[1] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 
</div>

<div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-spinner></mat-spinner>
</div>