<div class="row">
  <div class="col-3">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-9 mt-3 pr-5 pl-0 ml-0">
    <span class="badge badge-dark p-2">Appointment List</span>
    <hr>

    <table class="table table-light mt-4">
      <thead>
        <tr>
          <th>Patient Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>R/U</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of this.appointmentList">
          <td>{{ appointment.patientName }}</td>
          <td>{{ appointment.date }}</td>
          <td>{{ appointment.time }}</td>
          <td>
            <button
              class="btn btn-danger mr-2"
              (click)="deleteAppointment(appointment.id)"
            >
              <i class="far fa-trash-alt"></i>
            </button>
            <button
              class="btn btn-primary"
              (click)="updateAppointment(appointment.id)"
            >
              <i class="fa fa-pencil-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <hr>
    <span class="badge badge-dark p-2 mt-3">Expired Appointments</span>
    <hr>
  </div>
</div>

<div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-spinner></mat-spinner>
</div>