<div class="container">
  <div class="row">
    <div class="col-md-6">
      <span class="badge badge-light p-2 float-left"
        >Add Disease to Patient</span
      >
    </div>

    <div class="col-md-6">
      <form class="form-inline my-2 my-lg-0 float-right">
        <input
          #filterText
          class="form-control mr-sm-2"
          type="text"
          placeholder="Search"
          (keyup)="searchDisease(filterText.value)"
        />
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row boxes">
      <div class="boxes-1">
        <div class="col-2 box-1"></div>
        <p class="mevcut-durumu">Existent</p>
      </div>

      <div class="boxes-2">
        <div class="col-2 box-2"></div>
        <p class="mevcut-durumu">Non-existent</p>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-light mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Question</th>
          <th>Add</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let disease of this.diseaseList"
          [ngClass]="{
            passive: this.diseases.indexOf(disease.description) != -1
          }"
        >
          <td>{{ disease.id }}</td>
          <td>{{ disease.description }}</td>
          <td>
            <button
              class="btn btn-warning mr-3"
              [disabled]="this.diseases.indexOf(disease.description) != -1"
              (click)="addToPatient(disease.id, $event)"
            >
              +
            </button>
            <button
              class="btn btn-danger"
              [disabled]="this.diseases.indexOf(disease.description) == -1"
              (click)="deleteFromPatient(disease.id, this.patientId, $event)"
            >
              -
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
