<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">ADMIN HOME</a>

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" />
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card border-primary mb-3" style="max-width: 40rem">
        <!--begin::Row-->
        <div class="row m-0">
          <div
            id="country"
            class="col bg-light-warning px-6 py-8 rounded-xl mr-7 mb-7"
            (click)="titleChange($event)"
          >
            <p class="card-title">Country Number</p>
            <p class="card-number">{{ countryCount }}</p>
          </div>
          <div
            id="city"
            class="col bg-light-primary px-6 py-8 rounded-xl mb-7"
            (click)="titleChange($event)"
          >
            <p class="card-title">City Number</p>
            <p class="card-number">{{ this.cityCount }}</p>
            <!-- <p class="card-number">{{ cityCount }}</p> -->
          </div>
        </div>

        <div class="row m-0">
          <div
            id="district"
            class="col bg-light-danger px-6 py-8 rounded-xl mr-7"
            (click)="titleChange($event)"
          >
            <a><p class="card-title">District Number</p></a>
            <a
              ><p class="card-number">{{ this.districtCount }}</p></a
            >
            <!-- <p class="card-number">{{ districtCount }}</p> -->
          </div>
          <div
            id="hospital"
            class="col bg-light-success px-6 py-8 rounded-xl"
            (click)="titleChange($event)"
          >
            <p class="card-title">Hospital Number</p>
            <p class="card-number">{{ this.hospitalCount }}</p>
            <!-- <p class="card-number">{{ hospitalCount }}</p> -->
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body" [ngSwitch]="this.clickType">
          <div *ngSwitchCase="'country'">
            <h3>Country Operations</h3>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Country Name"
                      name="description"
                      #description="ngModel"
                      [(ngModel)]="this.countryModel.description"
                    />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Country Code"
                      name="description"
                      #description="ngModel"
                      [(ngModel)]="this.countryModel.countryCode"
                    />
                  </div>
                </div>

                <div class="col-md-2">
                  <button class="btn btn-warning">Add</button>
                </div>
              </div>
              <table class="table table-light">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Country Code</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let country of countryList">
                    <td>{{ country.description }}</td>
                    <td>{{ country.countryCode }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div *ngSwitchCase="'city'">
            <h3>City Operations</h3>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <select
                      type="text"
                      class="form-control"
                      placeholder="Select Country"
                      name="countryId"
                      #countryId="ngModel"
                      [(ngModel)]="this.cityModel.countryId"
                    >
                      <option value="0" disabled>--Select a Country--</option>
                      <option
                        *ngFor="let country of countryList"
                        [value]="country.id"
                      >
                        {{ country.description }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter City Name"
                      name="description"
                      #description="ngModel"
                      [(ngModel)]="this.cityModel.description"
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-warning">Add</button>
                </div>
              </div>
            </div>

            <table class="table table-light">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Country</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let city of cityList">
                  <td>{{ city.description }}</td>
                  <td>{{ city.countryId }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngSwitchCase="'district'">
            <h3>District Operations</h3>
          </div>

          <div *ngSwitchCase="'hospital'">
            <h3>Hospital Operations</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <table class="table table-light">
      <thead>
        <tr>
          <th>Description</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hosp of hospitalList">
          <td>{{ hosp.description }}</td>
          <td>{{ hosp.address }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--Add City Form-->
<div class="card p-5 mb-4">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <select
            type="text"
            class="form-control"
            placeholder="Select Country"
            name="countryId"
            #countryId="ngModel"
            [(ngModel)]="this.cityModel.countryId"
          >
            <option value="0" disabled>--Select a Country--</option>
            <option *ngFor="let country of countryList" [value]="country.id">
              {{ country.description }}
            </option>
          </select>
        </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Enter City Name"
              name="description"
              #description="ngModel"
              [(ngModel)]="this.cityModel.description"
            />
          </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-warning">Add</button>
        </div>
    </div>

      
    </div>

  <table class="table table-light">
    <thead>
      <tr>
        <th>Description</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of cityList">
        <td>{{ city.description }}</td>
        <td>{{ city.countryId }}</td>
      </tr>
    </tbody>
  </table>
</div>

