<div class="item-body m-0 p-0">
  <nav class="navbar navbar-expand-lg mb-5" style="background-color: #78c2ad">
    <a class="navbar-brand">
      <button class="btn" (click)="logout()">
        <img src="assets/images/log-out.png" />
      </button>
    </a>
    <p class="welcome">Welcome KARDELEN {{ userInfo.fullName }} <br /></p>

    <!-- <h2 style="text-align: center">Welcome {{ userInfo.fullName }}</h2> -->
  </nav>
  <!-- <h2 class="text-center">Welcome {{ userInfo.fullName }}</h2> -->
  <!-- <div class="logout">
    <button class="btn btn-danger mt-5 ml-5" (click)="logout()">
      <img src="assets/images/log-out.png" />
    </button>
  </div> -->

  <div class="container mb-5">
    <div class="row">
      <div class="col-md-4">
        <div
          class="card border-primary mb-3 card-background"
          style="max-width: 40rem"
        >
          <!--begin::Row-->
          <div class="row m-0">
            <div
              id="country"
              class="col bg-light-warning px-6 py-8 rounded-xl mr-7 mb-7"
              (click)="titleChange($event)"
            >
              <p class="card-title">Country Number</p>
              <p class="card-number">{{ countryCount }}</p>
            </div>
            <div
              id="city"
              class="col bg-light-primary px-6 py-8 rounded-xl mb-7"
              (click)="titleChange($event)"
            >
              <p class="card-title">City Number</p>
              <p class="card-number">{{ this.cityCount }}</p>
              <!-- <p class="card-number">{{ cityCount }}</p> -->
            </div>
          </div>

          <div class="row m-0">
            <div
              id="district"
              class="col bg-light-danger px-6 py-8 rounded-xl mr-7"
              (click)="titleChange($event)"
            >
              <a><p class="card-title">District Number</p></a>
              <a
                ><p class="card-number">{{ this.districtCount }}</p></a
              >
            </div>

            <div
              id="hospital"
              class="col bg-light-success px-6 py-8 rounded-xl"
              (click)="titleChange($event)"
            >
              <p class="card-title">Hospital Number</p>
              <p class="card-number">{{ this.hospitalCount }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card mb-4 scroll">
          <div class="card-body" [ngSwitch]="this.clickType">
            <div *ngSwitchCase="'country'">
              <h3>Country Operations</h3>
              <div class="col-md-12">
                <form #countryForm="ngForm" (submit)="addCountry()">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter Country Name"
                          name="description"
                          #description="ngModel"
                          [(ngModel)]="this.countryModel.description"
                        />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter Country Code"
                          name="countryCode"
                          #countryCode="ngModel"
                          [(ngModel)]="this.countryModel.countryCode"
                        />
                      </div>
                    </div>

                    <div class="col-md-2">
                      <button class="btn btn-outline-warning" type="submit">
                        Add
                      </button>
                    </div>
                  </div>
                </form>
                <table class="table table-light">
                  <thead>
                    <tr>
                      <th>Description</th>
                      <th>Country Code</th>
                      <th>D / U</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let country of countryList">
                      <td
                        *ngIf="
                          !(editMode && country.id == this.updatedCountry.id)
                        "
                      >
                        {{ country.description }}
                      </td>
                      <td
                        *ngIf="
                          !(editMode && country.id == this.updatedCountry.id)
                        "
                      >
                        {{ country.countryCode }}
                      </td>
                      <td
                        *ngIf="
                          !(editMode && country.id == this.updatedCountry.id)
                        "
                      >
                        <button
                          class="btn btn-danger mr-2"
                          (click)="deleteCountry(country.id)"
                        >
                          <i class="far fa-trash-alt"></i>
                        </button>
                        <button
                          class="btn btn-primary"
                          (click)="updateCountry(country.id); editMode = true"
                        >
                          <i class="fa fa-pencil-alt"></i>
                        </button>
                      </td>
                      <td
                        *ngIf="editMode && country.id == this.updatedCountry.id"
                      >
                        <span scope="row">
                          <input
                            class="form-control input-field"
                            [(ngModel)]="updatedCountry.description"
                            type="text"
                          />
                        </span>
                      </td>
                      <td
                        *ngIf="editMode && country.id == this.updatedCountry.id"
                      >
                        <span scope="row">
                          <input
                            class="form-control input-field"
                            [(ngModel)]="updatedCountry.countryCode"
                            type="text"
                          />
                        </span>
                      </td>
                      <td
                        *ngIf="editMode && country.id == this.updatedCountry.id"
                      >
                        <span scope="row">
                          <button
                            class="btn btn-primary mr-2"
                            (click)="saveCountry(); editMode = false"
                          >
                            <i class="far fa-save"></i>
                          </button>
                          <button
                            class="btn btn-danger"
                            (click)="cancelCountry()"
                          >
                            <i class="fas fa-times"></i>
                          </button>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div *ngSwitchCase="'city'">
              <h3>City Operations</h3>
              <div class="col-md-12">
                <form #cityForm="ngForm" (submit)="addCity()">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <select
                          type="text"
                          class="form-control"
                          placeholder="Select Country"
                          name="countryId"
                          #countryId="ngModel"
                          [(ngModel)]="this.cityModel.countryId"
                        >
                          <option value="0" disabled>
                            --Select a Country--
                          </option>
                          <option
                            *ngFor="let country of countryList"
                            [value]="country.id"
                          >
                            {{ country.description }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter City Name"
                          name="description"
                          #description="ngModel"
                          [(ngModel)]="this.cityModel.description"
                        />
                      </div>
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-outline-warning" type="submit">
                        Add
                      </button>
                    </div>
                  </div>
                </form>
              </div>

              <table class="table table-light">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Country</th>
                    <th>R / U</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let city of getCityList">
                    <td *ngIf="!(editMode && city.id == this.updatedCity.id)">
                      {{ city.description }}
                    </td>
                    <td *ngIf="!(editMode && city.id == this.updatedCity.id)">
                      {{ city.countryName }}
                    </td>
                    <td *ngIf="!(editMode && city.id == this.updatedCity.id)">
                      <button
                        class="btn btn-danger mr-2"
                        (click)="deleteCity(city.id)"
                      >
                        <i class="far fa-trash-alt"></i>
                      </button>
                      <button
                        class="btn btn-primary"
                        (click)="updateCity(city.id)"
                      >
                        <i class="fa fa-pencil-alt"></i>
                      </button>
                    </td>

                    <td *ngIf="editMode && city.id == this.updatedCity.id">
                      <span scope="row">
                        <input
                          class="form-control input-field"
                          [(ngModel)]="updatedCity.description"
                          type="text"
                        />
                      </span>
                    </td>
                    <td *ngIf="editMode && city.id == this.updatedCity.id">
                      <span scope="row">
                        <select
                          type="text"
                          class="form-control input-field"
                          placeholder="Select Country"
                          [(ngModel)]="this.updatedCity.countryId"
                        >
                          <option
                            *ngFor="let country of countryList"
                            [value]="country.id"
                          >
                            {{ country.description }}
                          </option>
                        </select>
                      </span>
                    </td>
                    <td *ngIf="editMode && city.id == this.updatedCity.id">
                      <span scope="row">
                        <button
                          mat-button
                          class="btn btn-primary mr-2"
                          (click)="saveCity(); editMode = false"
                        >
                          <i class="far fa-save"></i>
                        </button>
                        <button class="btn btn-danger" (click)="cancelCity()">
                          <i class="fas fa-times"></i>
                        </button>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngSwitchCase="'district'">
              <h3>District Operations</h3>
              <div class="col-md-12">
                <form #districtForm="ngForm" (submit)="addDistrict()">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <select
                          type="text"
                          class="form-control"
                          placeholder="Select District"
                          name="districtId"
                          #cityId="ngModel"
                          [(ngModel)]="this.districtModel.cityId"
                        >
                          <option value="0" disabled>--Select a City--</option>
                          <option
                            *ngFor="let city of cityList"
                            [value]="city.id"
                          >
                            {{ city.description }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter Discription Name"
                          name="description"
                          #description="ngModel"
                          [(ngModel)]="this.districtModel.description"
                        />
                      </div>
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-outline-warning" type="submit">
                        Add
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <table class="table table-light">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>City</th>
                    <th>R / U</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let district of getDistrictList">
                    <td
                      *ngIf="
                        !(editMode && district.id == this.updatedDistrict.id)
                      "
                    >
                      {{ district.description }}
                    </td>
                    <td
                      *ngIf="
                        !(editMode && district.id == this.updatedDistrict.id)
                      "
                    >
                      {{ district.cityName }}
                    </td>
                    <td
                      *ngIf="
                        !(editMode && district.id == this.updatedDistrict.id)
                      "
                    >
                      <button
                        class="btn btn-danger mr-2"
                        (click)="deleteDistrict(district.id)"
                      >
                        <i class="far fa-trash-alt"></i>
                      </button>
                      <button
                        class="btn btn-primary"
                        (click)="updateDistrict(district.id)"
                      >
                        <i class="fa fa-pencil-alt"></i>
                      </button>
                    </td>

                    <td
                      *ngIf="editMode && district.id == this.updatedDistrict.id"
                    >
                      <span scope="row">
                        <input
                          class="form-control input-field"
                          [(ngModel)]="updatedDistrict.description"
                          type="text"
                        />
                      </span>
                    </td>
                    <td
                      *ngIf="editMode && district.id == this.updatedDistrict.id"
                    >
                      <span scope="row">
                        <select
                          type="text"
                          class="form-control input-field"
                          #cityId="ngModel"
                          [(ngModel)]="this.updatedDistrict.cityId"
                        >
                          <option value="0" disabled>--Select a City--</option>
                          <option
                            *ngFor="let city of cityList"
                            [value]="city.id"
                          >
                            {{ city.description }}
                          </option>
                        </select>
                      </span>
                    </td>
                    <td
                      *ngIf="editMode && district.id == this.updatedDistrict.id"
                    >
                      <span scope="row">
                        <button
                          class="btn btn-primary mr-2"
                          (click)="saveDistrict(); editMode = false"
                        >
                          <i class="far fa-save"></i>
                        </button>
                        <button
                          class="btn btn-danger"
                          (click)="cancelDistrict()"
                        >
                          <i class="fas fa-times"></i>
                        </button>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngSwitchCase="'hospital'">
              <h3>Hospital Operations</h3>
              <div class="container">
                <form #hospitalForm (submit)="addHospital()">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Select Country</label>
                        <select
                          type="text"
                          class="form-control"
                          placeholder="Select Country"
                          name="districtId"
                          [(value)]="countryid"
                        >
                          <option disabled>--Select a Country--</option>
                          <option *ngFor="let country of countryList">
                            {{ country.description }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Select City</label>
                        <select
                          onchange=""
                          type="text"
                          class="form-control"
                          placeholder="Select City"
                          name="cityId"
                        >
                          <option disabled>--Select a City--</option>
                          <option
                            *ngFor="
                              let city of cityList | hospitalPipe: countryid
                            "
                            [value]="city.countryId"
                          >
                            {{ city.description }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Select District</label>
                        <select
                          onchange=""
                          type="text"
                          class="form-control"
                          placeholder="Select District"
                          name="districtId"
                          #districtId="ngModel"
                          [(ngModel)]="this.hospitalModel.districtName"
                        >
                          <option disabled>--Select a District--</option>
                          <option
                            *ngFor="let district of districtList"
                            [value]="district.cityId"
                          >
                            {{ district.description }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group">
                      <label class="labelT">Enter Address</label>
                      <input
                        type="text"
                        style="width: 470px"
                        class="form-control"
                        placeholder="Address"
                        name="description"
                        #description="ngModel"
                        [(ngModel)]="this.hospitalModel.address"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group">
                      <label class="labelT">Enter Hospital Name</label>
                      <input
                        type="text"
                        style="width: 480px"
                        class="form-control"
                        placeholder="Hospital Name"
                        name="description"
                        #description="ngModel"
                        [(ngModel)]="this.hospitalModel.description"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group">
                      <label class="labelT">Enter Phone</label>
                      <input
                        type="text"
                        style="width: 480px"
                        class="form-control"
                        placeholder="Enter Phone"
                        name="phone"
                        #phone="ngModel"
                        [(ngModel)]="this.hospitalModel.phone"
                      />
                    </div>
                  </div>

                  <div class="row m-0">
                    <div class="col-md-2">
                      <button class="btn btn-outline-warning" type="submit">
                        Add
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-danger">
            Select a Hospital and view statistics about that hospital
          </h3>
        </div>
        <div class="col-md-6">
          <form class="form-inline my-2 my-lg-0 float-right">
            <input
              [(ngModel)]="filterText"
              class="form-control mr-sm-2"
              type="text"
              placeholder="Search"
            />
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <th>Description</th>
          <th>Address</th>
          <th>Country</th>
          <th>City</th>
          <th>District</th>
          <th>Phone</th>
          <th>R/U</th>
        </thead>

        <tbody>
          <tr *ngFor="let hospital of hospitalList | searchPipe: filterText">
            <td *ngIf="!(editMode && hospital.id == this.updatedHospital.id)">
              {{ hospital.description }}
            </td>
            <td *ngIf="!(editMode && hospital.id == this.updatedHospital.id)">
              {{ hospital.address }}
            </td>
            <td *ngIf="!(editMode && hospital.id == this.updatedHospital.id)">
              {{ hospital.countryName }}
            </td>
            <td *ngIf="!(editMode && hospital.id == this.updatedHospital.id)">
              {{ hospital.cityName }}
            </td>
            <td *ngIf="!(editMode && hospital.id == this.updatedHospital.id)">
              {{ hospital.districtName }}
            </td>
            <td *ngIf="!(editMode && hospital.id == this.updatedHospital.id)">
              {{ hospital.phone }}
            </td>

            <td *ngIf="!(editMode && hospital.id == this.updatedHospital.id)">
              <button
                class="btn btn-danger mr-2"
                (click)="deleteHospital(hospital.id)"
              >
                <i class="far fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary mr-2"
                (click)="updateHospital(hospital.id); editMode = true"
              >
                <i class="fa fa-pencil-alt"></i>
              </button>
              <button
                class="btn btn-success"
                (click)="setHospital(hospital.id, hospital.description)"
              >
                <i class="fas fa-info-circle"></i>
              </button>
            </td>

            <td *ngIf="editMode && hospital.id == this.updatedHospital.id">
              <span class="inline" scope="row">
                <input
                  style="margin-right: 5px"
                  class="form-control input-field"
                  [(ngModel)]="updatedHospital.description"
                  #description="ngModel"
                  [ngModelOptions]="{ standalone: true }"
                />
              </span>
            </td>

            <td *ngIf="editMode && hospital.id == this.updatedHospital.id">
              <span class="inline" scope="row">
                <textarea
                  rows="4"
                  cols="10"
                  class="form-control input-field"
                  [(ngModel)]="updatedHospital.address"
                  #address="ngModel"
                  [ngModelOptions]="{ standalone: true }"
                ></textarea>
              </span>
            </td>

            <td *ngIf="editMode && hospital.id == this.updatedHospital.id">
              <span class="inline" scope="row">
                <select
                  type="text"
                  class="form-control input-field"
                  name="districtId"
                  [(ngModel)]="updatedHospital.countryId"
                >
                  <option
                    *ngFor="let country of countryList"
                    [value]="country.id"
                  ></option>
                  <option *ngFor="let country of countryList">
                    {{ country.description }}
                  </option>
                </select>
              </span>
            </td>

            <td *ngIf="editMode && hospital.id == this.updatedHospital.id">
              <span class="inline" scope="row">
                <select
                  type="text"
                  class="form-control input-field"
                  name="cityId"
                  [(ngModel)]="updatedHospital.cityId"
                >
                  <option
                    *ngFor="let city of cityList | hospitalPipe: countryid"
                    [value]="city.id"
                  >
                    {{ city.description }}
                  </option>
                </select>
              </span>
            </td>

            <td *ngIf="editMode && hospital.id == this.updatedHospital.id">
              <span class="inline" scope="row">
                <select
                  type="text"
                  class="form-control input-field"
                  name="districtId"
                  [(ngModel)]="updatedHospital.districtId"
                >
                  <option
                    *ngFor="let district of districtList"
                    [value]="district.id"
                  >
                    {{ district.description }}
                  </option>
                </select>
              </span>
            </td>

            <td *ngIf="editMode && hospital.id == this.updatedHospital.id">
              <span class="inline" scope="row">
                <input
                  class="form-control input-field"
                  [(ngModel)]="updatedHospital.phone"
                  #phone="ngModel"
                  [ngModelOptions]="{ standalone: true }"
                />
              </span>
            </td>

            <td *ngIf="editMode && hospital.id == this.updatedHospital.id">
              <span class="inline" scope="row">
                <button class="btn btn-primary mr-2" (click)="saveHospital()">
                  <i class="far fa-save"></i>
                </button>
                <button
                  class="btn btn-danger buttons"
                  (click)="cancelHospital()"
                >
                  <i class="fa fa-times"></i>
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container pt-5">
      <h2>{{ selectedHospitalName }}</h2>

      <div class="row">
        <div class="col-md-8">
          <div class="card scroll">
            <div class="card-body" [ngSwitch]="this.hospitalClickType">
              <div *ngSwitchCase="'doctor'">
                <h3>Doctor Operations</h3>
                <div class="col-md-12">
                  <form #doctorForm="ngForm" (submit)="addDoctor()">
                    <div class="row m-0">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Firstname"
                            name="firstname"
                            #firstname="ngModel"
                            [(ngModel)]="this.doctorModel.firstName"
                            [(ngModel)]="this.postDoctor.firstName"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Lastname"
                            name="lastname"
                            #lastname="ngModel"
                            [(ngModel)]="this.doctorModel.lastName"
                            [(ngModel)]="this.postDoctor.lastName"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row m-0">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Email"
                            name="email"
                            #email="ngModel"
                            [(ngModel)]="this.doctorModel.email"
                            [(ngModel)]="this.postDoctor.email"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Gsm"
                            name="gsm"
                            #gsm="ngModel"
                            [(ngModel)]="this.doctorModel.gsm"
                            [(ngModel)]="this.postDoctor.gsm"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row department-degree">
                      <div class="col-md-6">
                        <div class="form-group">
                          <select
                            type="text"
                            class="form-control selection"
                            placeholder="Select Department"
                            name="deptId"
                            #deptId="ngModel"
                            [(ngModel)]="this.doctorModel.departmentName"
                            [(ngModel)]="this.postDoctor.departmentId"
                          >
                            <option value="0" disabled>
                              --Select a Department--
                            </option>
                            <option
                              *ngFor="let dept of deptList"
                              [value]="dept.id"
                            >
                              {{ dept.description }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <select
                            type="text"
                            class="form-control selection"
                            placeholder="Select Degree"
                            name="degreeId"
                            #degreeId="ngModel"
                            [(ngModel)]="this.doctorModel.degreeName"
                            [(ngModel)]="this.postDoctor.degreeId"
                          >
                            <option value="0" disabled>
                              --Select a Degree--
                            </option>
                            <option
                              *ngFor="let degree of degreeList"
                              [value]="degree.id"
                            >
                              {{ degree.description }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row m-0">
                      <div class="col-md-2">
                        <button class="btn btn-outline-warning" type="submit">
                          Add
                        </button>
                      </div>
                    </div>
                  </form>

                  <table class="table table-light">
                    <thead>
                      <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Department</th>
                        <th>Degree</th>
                        <th>R / U</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let doctor of doctorList">
                        <td
                          *ngIf="
                            !(editMode && doctor.id == this.updatedDoctorId)
                          "
                        >
                          {{ doctor.firstName }}
                        </td>
                        <td
                          *ngIf="
                            !(editMode && doctor.id == this.updatedDoctorId)
                          "
                        >
                          {{ doctor.lastName }}
                        </td>
                        <td
                          *ngIf="
                            !(editMode && doctor.id == this.updatedDoctorId)
                          "
                        >
                          {{ doctor.email }}
                        </td>
                        <td
                          *ngIf="
                            !(editMode && doctor.id == this.updatedDoctorId)
                          "
                        >
                          {{ doctor.departmentName }}
                        </td>
                        <td
                          *ngIf="
                            !(editMode && doctor.id == this.updatedDoctorId)
                          "
                        >
                          {{ doctor.degreeName }}
                        </td>
                        <td
                          *ngIf="
                            !(editMode && doctor.id == this.updatedDoctorId)
                          "
                        >
                          <button
                            class="btn btn-danger mr-2"
                            (click)="deleteDoctor(doctor.id)"
                          >
                            <i class="far fa-trash-alt"></i>
                          </button>
                          <button
                            class="btn btn-primary"
                            (click)="updateDoctor(doctor.id)"
                          >
                            <i class="fa fa-pencil-alt"></i>
                          </button>
                        </td>

                        <td
                          *ngIf="editMode && doctor.id == this.updatedDoctorId"
                        >
                          <span scope="row">
                            <input
                              class="form-control input-field"
                              [(ngModel)]="this.updatedDoctor.firstName"
                              type="text"
                            />
                          </span>
                        </td>
                        <td
                          *ngIf="editMode && doctor.id == this.updatedDoctorId"
                        >
                          <span scope="row">
                            <input
                              class="form-control input-field"
                              [(ngModel)]="this.updatedDoctor.lastName"
                              type="text"
                            />
                          </span>
                        </td>
                        <td
                          *ngIf="editMode && doctor.id == this.updatedDoctorId"
                        >
                          <span scope="row">
                            <input
                              class="form-control input-field"
                              [(ngModel)]="this.updatedDoctor.email"
                              type="text"
                            />
                          </span>
                        </td>
                        <td
                          *ngIf="editMode && doctor.id == this.updatedDoctorId"
                        >
                          <span scope="row">
                            <select
                              type="text"
                              class="form-control input-field"
                              #deptId="ngModel"
                              [(ngModel)]="this.updatedDoctor.departmentId"
                            >
                              <option
                                *ngFor="let dept of deptList"
                                [value]="dept.id"
                              >
                                {{ dept.description }}
                              </option>
                            </select>
                          </span>
                        </td>
                        <td
                          *ngIf="editMode && doctor.id == this.updatedDoctorId"
                        >
                          <span scope="row">
                            <select
                              type="text"
                              class="form-control input-field"
                              #degreeId="ngModel"
                              [(ngModel)]="this.updatedDoctor.degreeId"
                            >
                              <option
                                *ngFor="let degree of degreeList"
                                [value]="degree.id"
                              >
                                {{ degree.description }}
                              </option>
                            </select>
                          </span>
                        </td>
                        <td
                          *ngIf="editMode && doctor.id == this.updatedDoctorId"
                        >
                          <span scope="row">
                            <button
                              class="btn btn-primary mr-2"
                              (click)="saveDoctor()"
                            >
                              <i class="far fa-save"></i>
                            </button>
                            <button
                              class="btn btn-danger"
                              (click)="cancelDoctor()"
                            >
                              <i class="fas fa-times"></i>
                            </button>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div *ngSwitchCase="'department'">
                <h3>Department Operations</h3>
                <div class="col-md-12">
                  <form #deptForm="ngForm" (click)="addDepartment()">
                    <div class="row">
                      <div class="col-md-10">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Department Name"
                            name="description"
                            #description="ngModel"
                            [(ngModel)]="this.deptModel.description"
                          />
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button class="btnbtn-outline-warning" type="submit">
                          Add
                        </button>
                      </div>
                    </div>
                  </form>

                  <table class="table table-light">
                    <thead>
                      <tr>
                        <th>Description</th>
                        <th>R / U</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let dept of deptList">
                        <td
                          *ngIf="!(editMode && dept.id == this.updatedDept.id)"
                        >
                          {{ dept.description }}
                        </td>
                        <td
                          *ngIf="!(editMode && dept.id == this.updatedDept.id)"
                        >
                          <button
                            class="btn btn-danger mr-2"
                            (click)="deleteDepartment(dept.id)"
                          >
                            <i class="far fa-trash-alt"></i>
                          </button>
                          <button
                            class="btn btn-primary"
                            (click)="updateDepartment(dept.id)"
                          >
                            <i class="fa fa-pencil-alt"></i>
                          </button>
                        </td>

                        <td *ngIf="editMode && dept.id == this.updatedDept.id">
                          <span scope="row">
                            <input
                              class="form-control input-field"
                              [(ngModel)]="updatedDept.description"
                              type="text"
                            />
                          </span>
                        </td>

                        <td *ngIf="editMode && dept.id == this.updatedDept.id">
                          <span scope="row">
                            <button
                              class="btn btn-primary mr-2"
                              (click)="saveDept()"
                            >
                              <i class="far fa-save"></i>
                            </button>
                            <button
                              class="btn btn-danger"
                              (click)="cancelDept()"
                            >
                              <i class="fas fa-times"></i>
                            </button>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div *ngSwitchCase="'disease'">
                <h3>Disease Operations</h3>
                <div class="col-md-12">
                  <form #diseaseForm="ngForm" (submit)="addDisease()">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <select
                            type="text"
                            class="form-control"
                            placeholder="Select Department"
                            name="deptId"
                            #deptId="ngModel"
                            [(ngModel)]="this.diseaseModel.departmentId"
                          >
                            <option value="0" disabled>
                              --Select a Department--
                            </option>
                            <option
                              *ngFor="let dept of deptList"
                              [value]="dept.id"
                            >
                              {{ dept.description }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Country Name"
                            name="description"
                            #description="ngModel"
                            [(ngModel)]="this.diseaseModel.description"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-2">
                      <button class="btn btn-outline-warning" type="submit">
                        Add
                      </button>
                    </div>
                  </form>

                  <table class="table table-light">
                    <thead>
                      <tr>
                        <th>Description</th>
                        <th>Department</th>
                        <th>R / U</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let disease of diseaseList">
                        <td
                          *ngIf="
                            !(editMode && disease.id == this.updatedDisease.id)
                          "
                        >
                          {{ disease.description }}
                        </td>
                        <td
                          *ngIf="
                            !(editMode && disease.id == this.updatedDisease.id)
                          "
                        >
                          {{ disease.departmentName }}
                        </td>
                        <td
                          *ngIf="
                            !(editMode && disease.id == this.updatedDisease.id)
                          "
                        >
                          <button
                            class="btn btn-danger mr-2"
                            (click)="deleteDisease(disease.id)"
                          >
                            <i class="far fa-trash-alt"></i>
                          </button>
                          <button
                            class="btn btn-primary"
                            (click)="updateDisease(disease.id)"
                          >
                            <i class="fa fa-pencil-alt"></i>
                          </button>
                        </td>

                        <td
                          *ngIf="
                            editMode && disease.id == this.updatedDisease.id
                          "
                        >
                          <span scope="row">
                            <input
                              class="form-control input-field"
                              [(ngModel)]="updatedDisease.description"
                              type="text"
                            />
                          </span>
                        </td>

                        <td
                          *ngIf="
                            editMode && disease.id == this.updatedDisease.id
                          "
                        >
                          <span scope="row">
                            <select
                              type="text"
                              class="form-control input-field"
                              #deptId="ngModel"
                              [(ngModel)]="this.updatedDisease.departmentId"
                            >
                              <option
                                *ngFor="let dept of deptList"
                                [value]="dept.id"
                              >
                                {{ dept.description }}
                              </option>
                            </select>
                          </span>
                        </td>

                        <td
                          *ngIf="
                            editMode && disease.id == this.updatedDisease.id
                          "
                        >
                          <span scope="row">
                            <button
                              mat-button
                              class="btn btn-primary mr-2"
                              (click)="saveDisease(); editMode = false"
                            >
                              <i class="far fa-save"></i>
                            </button>
                            <button
                              class="btn btn-danger"
                              (click)="cancelDisease()"
                            >
                              <i class="fas fa-times"></i>
                            </button>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div *ngSwitchCase="'degree'">
                <h3>Degree Operations</h3>
                <div class="col-md-12">
                  <form #degreeForm="ngForm" (submit)="addDegree()">
                    <div class="row">
                      <div class="col-md-9">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Degree Name"
                            name="description"
                            #description="ngModel"
                            [(ngModel)]="this.degreeModel.description"
                          />
                        </div>
                      </div>
                      <div class="col-md-3">
                        <button class="btn btn-outline-warning" type="submit">
                          Add
                        </button>
                      </div>
                    </div>
                  </form>

                  <table class="table table-light">
                    <thead>
                      <tr>
                        <th>Description</th>
                        <th>R / U</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let degree of degreeList">
                        <td
                          *ngIf="
                            !(editMode && degree.id == this.updatedDegree.id)
                          "
                        >
                          {{ degree.description }}
                        </td>
                        <td
                          *ngIf="
                            !(editMode && degree.id == this.updatedDegree.id)
                          "
                        >
                          <button
                            class="btn btn-danger mr-2"
                            (click)="deleteDegree(degree.id)"
                          >
                            <i class="far fa-trash-alt"></i>
                          </button>
                          <button
                            class="btn btn-primary"
                            (click)="updateDegree(degree.id)"
                          >
                            <i class="fa fa-pencil-alt"></i>
                          </button>
                        </td>

                        <td
                          *ngIf="editMode && degree.id == this.updatedDegree.id"
                        >
                          <span scope="row">
                            <input
                              class="form-control input-field"
                              [(ngModel)]="updatedDegree.description"
                              type="text"
                            />
                          </span>
                        </td>
                        <td
                          *ngIf="editMode && degree.id == this.updatedDegree.id"
                        >
                          <span scope="row">
                            <button
                              class="btn btn-primary mr-2"
                              (click)="saveDegree(); editMode = false"
                            >
                              <i class="far fa-save"></i>
                            </button>
                            <button
                              class="btn btn-danger"
                              (click)="cancelDegree()"
                            >
                              <i class="fas fa-times"></i>
                            </button>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div
            class="card border-primary mb-3 card-background"
            style="max-width: 40rem"
          >
            <!--begin::Row-->
            <div class="row m-0">
              <div
                id="doctor"
                class="
                  col-5
                  bg-light-warning
                  px-6
                  py-8
                  rounded-xl
                  ml-2
                  mr-2
                  mb-7
                "
                (click)="hospTitleChange($event)"
              >
                <p class="card-title">Doctor Number</p>
                <p class="card-number">{{ doctorCount }}</p>
              </div>
              <div
                id="department"
                class="col-5 bg-light-primary px-6 py-8 rounded-xl mb-7"
                (click)="hospTitleChange($event)"
              >
                <p class="card-title">Department Number</p>
                <p class="card-number">{{ this.deptCount }}</p>
              </div>

              <div class="row m-0">
                <div
                  id="disease"
                  class="
                    col-5
                    bg-light-danger
                    px-6
                    py-8
                    rounded-xl
                    ml-2
                    mr-2
                    mb-7
                  "
                  (click)="hospTitleChange($event)"
                >
                  <a><p class="card-title">Disease Number</p></a>
                  <a
                    ><p class="card-number">{{ this.diseaseCount }}</p></a
                  >
                </div>

                <div
                  id="degree"
                  class="col-5 bg-light-success px-6 py-8 rounded-xl mb-7"
                  (click)="hospTitleChange($event)"
                >
                  <a><p class="card-title">Degree Number</p></a>
                  <a
                    ><p class="card-number">{{ this.degreesCount }}</p></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
