* {
  font-family: "Lato", sans-serif;
}
.item-body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}
.card-background {
  background-color: #fafafa;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-primary {
  display: flex;
  justify-content: space-between;
}
.card-body {
  position: relative;
  height: 400px;
}

.form-box{
  padding: 15px;
  /*alt üst dağılmapayı*/
  box-shadow: 0 0 8px rgb(209, 203, 203);
  background-color: rgb(255, 255, 255);
  height: 100%;
}

.card1 {
  position: absolute;
  height: 140px;
}
.card2 {
  height: 140px;
}

.rounded-xl {
  border-radius: 1.25rem !important;
  height: 147px;
}

.pb-8,
.py-8 {
  padding-bottom: 2rem !important;
}
.pt-8,
.py-8 {
  padding-top: 2rem !important;
}
.pl-6,
.px-6 {
  padding-left: 1.5rem !important;
}
.pr-6,
.px-6 {
  padding-right: 1.5rem !important;
}
.mb-7,
.my-7 {
  margin-bottom: 1rem !important;
}
.mr-7,
.mx-7 {
  margin-right: 1.75rem !important;
}

.card-spacer {
  padding: 2rem 2.25rem !important;
}
.mt-n25,
.my-n25 {
  margin-top: -6.25rem !important;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card-title {
  font-family: "Lato", sans-serif;
  font-size: large;
  font-weight: bold;
  text-align: center;
}
.card-number {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 8px;
}
p.card-number {
  padding-top: 23px;
}

.card {
  border: none;
}

.scroll {
  overflow-y: auto;
  max-height: 300px;
}

div#country,
div#city,
div#district,
div#hospital {
  cursor: pointer;
}

div#country:hover {
  box-shadow: 0 0 20px #e6cc9a;
  border: solid 1px #e4c68f;
}
div#city:hover {
  box-shadow: 0 0 20px #97dad6;
  border: solid 1px #97dad6;
}
div#district:hover {
  box-shadow: 0 0 20px #e69fa6;
  border: solid 1px #e69fa6;
}
div#hospital:hover {
  box-shadow: 0 0 20px #83a9ce;
  border: solid 1px #83a9ce;
}


input.form-control.ng-untouched.ng-pristine.ng-valid {
  margin-left: 12px;
}
label.labelT {
  margin-left: 14px;
  font-family: "Lato", sans-serif;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-primary {
  display: flex;
  justify-content: space-between;
}

.card-body {
  position: relative;
  height: 400px;
}
.card1 {
  position: absolute;
  height: 140px;
}
.card2 {
  height: 140px;
}

.rounded-xl {
  border-radius: 1.25rem !important;
  height: 147px;
}
.bg-light-warning {
  background-color: #fff4de !important;
}
.bg-light-primary {
  background-color: #e1f0ff;
}
.bg-light-danger {
  background-color: #ffe2e5;
}
.bg-light-success {
  background-color: #c9f7f5;
}
.bg-light-danger {
  background-color: #ffe2e5;
}

.card-spacer {
  padding: 2rem 2.25rem !important;
}
.mt-n25,
.my-n25 {
  margin-top: -6.25rem !important;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card-title {
  font-family: "Lato", sans-serif;
  font-size: large;
  font-weight: bold;
  text-align: center;
}
.select {
  width: 130%;
}
button.btn.btn-warning {
  margin-bottom: 18px;
}

.card-number {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 8px;
}

p.card-number {
  padding-top: 23px;
}

.card {
  border: none;
}

.scroll {
  max-height: 400px;
  overflow-y: auto;
}

div#country,
div#city,
div#district,
div#hospital,
div#doctor,
div#department,
div#disease,
div#degree {
  cursor: pointer;
}

div#doctor:hover {
  box-shadow: 0 0 20px #e6cc9a;
  border: solid 1px #e4c68f;
}
div#department:hover {
  box-shadow: 0 0 20px #97dad6;
  border: solid 1px #97dad6;
}
div#disease:hover {
  box-shadow: 0 0 20px #e69fa6;
  border: solid 1px #e69fa6;
}
div#degree:hover {
  box-shadow: 0 0 20px #83a9ce;
  border: solid 1px #83a9ce;
}

button.btn.btn-warning {
  width: 114px;
}
td {
  cursor: pointer;
  padding-right: 2px;
}

.input-field {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: Arial;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0 auto;
  margin-left: 0 auto;
}
button.btn.btn-primary.mr-2 {
  margin-left: 2px;
}
select.form-control.input-field {
  margin-left: 10px;
}
span.inline {
  display: flex;
}
span {
  display: flex;
}
img {
  height: 20px;
  width: 20px;
}
button.btn.btn-danger.mt-5.ml-5 {
  background-color: white;
}
a {
  color: black;
  font-size: large;
}
a:hover {
  color: #e1f0ff;
}
h2 {
  padding-top: 12px;
  display: contents;
}

button.btn.btn-outline-warning {
  width: 100px;
  margin-bottom: 12px;
}


p.welcome {
  margin-top: 11px;
  margin-left: 500px;
} */

 .welcome {
    font-weight: 600;
    font-size: 18px;
 }

.nav-end {
  display: flex;
  justify-content: end;
  align-items: center;
}

.logo {
  width: 150px;
  height: 50px;
  margin: 0;
  padding: 0;
  background-image: url("../../shared-components/images/logo.png");
  background-size: cover;
}

.loader-container {
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -50px);
}



