<div class="container">
    <div class="row">
        <div class="col-md-6">
            <span class="badge badge-light p-2 float-left">Create Appointment for Patient</span>
        </div>
        <div class="col-md-6">
            <form class="form-inline my-2 my-lg-0 float-right">
                <input
                  #filterText
                  class="form-control mr-sm-2"
                  type="text"
                  placeholder="Search"
                  
                />
            </form>
        </div>
    </div>

    <div class="row p-5">
        <form #appointmentForm="ngForm" (submit)="addAppointment()">
            <div class="row m-0">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter description"
                    cols="40"
                    rows="7"
                    name="description"
                    #description="ngModel"
                    [(ngModel)]="this.patientName"
                    disabled
                  />
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1' (click)="setDate($event)">
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                        <i class="far fa-calendar-alt fa-2x ml-2"></i>
                        </span>
                     </div>
                </div>
            </div>
      
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-warning" type="submit">Add</button>
                </div>
            </div>
            
        </form>
    </div>
</div>