<div class="container">
    <div class="row">
      <div class="col-3">
        <app-sidebar></app-sidebar>
      </div>
  
      <div class="col-9 mt-4">
        <h3>Advice Processes</h3>
            
        <form #adviceForm="ngForm" (submit)="addAdvice(adviceForm)">
          <div class="row m-0">
            <div class="col-md-10">
              <div class="form-group">
                <textarea
                  type="text"
                  class="form-control"
                  placeholder="Enter description"
                  cols="40" rows="7"
                  name="description"
                  #description="ngModel"
                  [(ngModel)]="this.adviceModel.description"
                ></textarea>
              </div>
            </div>
        
            <div class="col-md-2">
              <button class="btn btn-warning" type="submit">Add</button>
            </div>
          </div>

        </form>

        <table class="table table-light mt-4">
          <thead>
            <tr>
              <th>ID</th>
              <th>Advice</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let advice of this.adviceList">
              <td> {{advice.id}} </td>
              <td> {{advice.description}} </td>
              <td><button class="btn btn-danger" (click)="deleteAdvice(advice.id)">X</button></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  