.danger {
  font-weight: bold;
  animation: blinkingBackground 1s infinite;
}

@keyframes blinkingBackground{
  50%		{ 
    background-color: rgb(209, 137, 137);
    color: white;
  }
  100%	{ 
    background-color: #ffffff;
    color: rgb(95, 91, 91);
  }
}

.content {
  position: absolute;
  left: 240px;
  width: 960px;
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.passive {
  background-color: rgb(185, 185, 185);
  color: white;
}



.thead {
  background-color: #4e8846;
  text-transform: uppercase;
  color: white;
}

.form-box{
  padding: 15px;
  box-shadow: 0 0 8px rgb(209, 203, 203);
  background-color: rgb(255, 255, 255);
}

.loader-container {
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -50px);
}