<div class="sidenav">
    <div>
      <h2><b>{{degree.description}} {{this.userInfo.fullName}} </b></h2>
      <h3> {{department.description}} </h3>
    </div>
    <div class="mt-5">
      <a routerLink = "/doctor-home/patient-processes" routerLinkActive> Patient Processes </a>
      <a routerLink = "/doctor-home/advice-processes"> Advice Processes </a>
      <a routerLink = "/doctor-home/question-processes"> Question Processes </a>
      <a routerLink = "/doctor-home/appointment-processes"> Appointment Processes </a>


      <button class="btn btn-danger mt-5 ml-5" (click)="logout()">LOGOUT</button>
    </div>
  </div>