
<div class="wrapper mr-0 ml-0">
  <div class="sidebar">
    <h2> {{degree.description}}  Dr. {{userInfo.fullName}} </h2>
    <p> {{department.description}} </p>
    <ul>
      <li [ngClass]="{active: this.currentRoute == 'patient-processes'}">
        <a routerLink="/doctor-home/patient-processes"><i class="fas fa-user-injured"></i>Patient Processes</a>
      </li>
      <li [ngClass]="{active: this.currentRoute == 'advice-processes'}">
        <a routerLink="/doctor-home/advice-processes"><i class="fas fa-clipboard-list"></i>Advice Processes</a>
      </li>

      <li [ngClass]="{active: this.currentRoute == 'question-processes'}">
        <a routerLink="/doctor-home/question-processes"><i class="fas fa-question"></i>Question Processes</a>
      </li>
      <li [ngClass]="{active: this.currentRoute == 'appointment-processes'}">
        <a routerLink="/doctor-home/appointment-processes"><i class="fas fa-user-edit"></i>Appointment Processes</a>
      </li>
      <li>
        <a (click)="logout()"><i class="fas fa-sign-out-alt"></i>LOGOUT</a>
      </li>
    </ul>
      <div class="logo-box">
        <div class="logo text-center"></div>
      </div>
  </div>
  <div class="main_content">
    <div class="header">Welcome!!!!</div>
    <div class="info">Lorem İpsum</div>
  </div>
</div>
