<div class="container">
    <div class="row">
      <div class="col-3">
        <app-sidebar></app-sidebar>
      </div>
  
      <div class="col-9 mt-4">
        <h3>Question Processes</h3>
           
      <form #questionForm="ngForm" (submit)="addQuestion(questionForm)">
        <div class="row m-0">
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Enter description"
                name="description"
                #description="ngModel"
                [(ngModel)]="this.questionModel.description"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <select
                type="number"
                class="form-control selection"
                placeholder="Select questionType"
                name="questionType"
                #questionType="ngModel"
                [(ngModel)]="this.questionModel.questionType"
              >
                <option *ngFor="let o of options" [value]="o.value" > {{o.name}} </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row m-0">
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                placeholder="Enter Lower Limit"
                name="gsm"
                #lowerLimit="ngModel"
                [(ngModel)]="this.questionModel.lowerLimit"
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                placeholder="Enter Upper Limit"
                name="upperLimit"
                #upperLimit="ngModel"
                [(ngModel)]="this.questionModel.upperLimit"
              />
            </div>
          </div>
        </div>

        <div class="row m-0">
          <form #answerForm="ngForm" class="mt-3" *ngIf="this.questionModel.questionType == 1">
            <div class="row m-0">
              <div class="col-md-2">
                <label>Answer 1 :</label>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Description"
                    name="gsm"
                    #lowerLimit="ngModel"
                    [(ngModel)]="this.answer1.description"
                  />
                </div>
              </div>
    
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Enter Score"
                    name="upperLimit"
                    #upperLimit="ngModel"
                    [(ngModel)]="this.answer1.score"
                  />
                </div>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-md-2">
                <label>Answer 2 :</label>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Description"
                    name="gsm"
                    #lowerLimit="ngModel"
                    [(ngModel)]="this.answer2.description"
                  />
                </div>
              </div>
    
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Enter Score"
                    name="upperLimit"
                    #upperLimit="ngModel"
                    [(ngModel)]="this.answer2.score"
                  />
                </div>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-md-2">
                <label>Answer 3 :</label>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Description"
                    name="gsm"
                    #lowerLimit="ngModel"
                    [(ngModel)]="this.answer3.description"
                  />
                </div>
              </div>
    
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Enter Score"
                    name="upperLimit"
                    #upperLimit="ngModel"
                    [(ngModel)]="this.answer3.score"
                  />
                </div>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-md-2">
                <label>Answer 4 :</label>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Description"
                    name="gsm"
                    #lowerLimit="ngModel"
                    [(ngModel)]="this.answer4.description"
                  />
                </div>
              </div>
    
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Enter Score"
                    name="upperLimit"
                    #upperLimit="ngModel"
                    [(ngModel)]="this.answer4.score"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row m-0">
          <div class="col-md-12">
            <button class="btn btn-warning float-right" type="submit">Add Question</button>
          </div>
        </div>
      </form>

<hr>


      <table class="table table-light mt-4">
        <thead>
          <tr>
            <th>Description</th>
            <th>Upper Limit</th>
            <th>Lower Limit</th>
            <th>Question Type</th>
            <th>R/U</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of this.questionList">
            <td *ngIf="!(editMode && question.id == this.updatedQuestion.id); else qDesc"> {{question.description}} </td>
            <td *ngIf="!(editMode && question.id == this.updatedQuestion.id); else qUp"> {{question.upperLimit}} </td>
            <td *ngIf="!(editMode && question.id == this.updatedQuestion.id); else qLow"> {{question.lowerLimit}} </td>
            <td> {{question.questionType}} </td>

            <td *ngIf="!(editMode && question.id == this.updatedQuestion.id)">
              <button class="btn btn-danger mr-2" (click)="deleteQuestion(question.id)">
                <i class="far fa-trash-alt"></i>
              </button>
              <button class="btn btn-primary" (click)="updateQuestion(question.id)">
                <i class="fa fa-pencil-alt"></i>
              </button>
            </td>

            <ng-template #qDesc>
              <td *ngIf="editMode && question.id == this.updatedQuestion.id">
                <span scope="row" *ngIf="editMode">
                  <input
                    class="form-control input-field"
                    [(ngModel)]="updatedQuestion.description"
                    type="text"
                    />
                </span>
              </td>
            </ng-template>

            <ng-template #qUp>
              <td *ngIf="editMode && question.id == this.updatedQuestion.id">
                <span scope="row" *ngIf="editMode">
                  <input
                    class="form-control input-field"
                    [(ngModel)]="updatedQuestion.upperLimit"
                    type="text"
                    />
                </span>
              </td>
            </ng-template>

            <ng-template #qLow>
              <td *ngIf="editMode && question.id == this.updatedQuestion.id">
                <span scope="row" *ngIf="editMode">
                  <input
                    class="form-control input-field"
                    [(ngModel)]="updatedQuestion.lowerLimit"
                    type="text"
                    />
                </span>
              </td>
            </ng-template>

            <td *ngIf="editMode && question.id == this.updatedQuestion.id">
              <span scope="row" *ngIf="editMode">
                <button
                  class="btn btn-primary mr-2"
                  (click)="saveQuestion()"
                >
                  <i class="far fa-save"></i>
                </button>
                <button class="btn btn-danger" (click)="cancelQuestion()">
                  <i class="fas fa-times"></i>
                </button>
              </span>
            </td>

          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  