<div class="container">
    <div class="row">
      <div class="col-3">
        <app-sidebar></app-sidebar>
      </div>
  
      <div class="col-9 mt-4">
        <h3>Question Processes</h3>
           
      <form #questionForm="ngForm" (submit)="addQuestion()">
        <div class="row m-0">
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Enter description"
                name="description"
                #description="ngModel"
                [(ngModel)]="this.questionModel.description"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <select
                type="text"
                class="form-control selection"
                placeholder="Select questionType"
                name="questionType"
                #questionType="ngModel"
                [(ngModel)]="this.questionModel.questionType"
              >
                <option value="0" disabled>--Select a Question Type--</option>
                <option value="1">Multiple Choice Question</option>
                <option value="2">Numeric Question</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row m-0">
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Enter Lower Limit"
                name="gsm"
                #lowerLimit="ngModel"
                [(ngModel)]="this.questionModel.lowerLimit"
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Enter Upper Limit"
                name="upperLimit"
                #upperLimit="ngModel"
                [(ngModel)]="this.questionModel.upperLimit"
              />
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-md-2">
            <button class="btn btn-warning" type="submit">Add</button>
          </div>
        </div>
      </form>

      <table class="table table-light mt-4">
        <thead>
          <tr>
            <th>Description</th>
            <th>Upper Limit</th>
            <th>Lower Limit</th>
            <th>Question Type</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of this.questionList">
            <td> {{question.description}} </td>
            <td> {{question.upperLimit}} </td>
            <td> {{question.lowerLimit}} </td>
            <td> {{question.questionType}} </td>

            <td><button class="btn btn-danger" (click)="deleteQuestion(question.id)">X</button></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  